* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container { 
    margin: 10em;
    text-align: center;
}

.div-1, .div-2 { 
    margin: 2em;
    border: ridge darkblue 0.2em;
    padding:0.4em;
}

#heading { 
    padding-bottom: 0.4em;
}

button, .btn-default { 
    margin: 1em;
}

.btn-default { 
    border: solid darkblue 0.1em;
}